@layer theme, base, frosted_ui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@whop/react/styles.css" layer(frosted_ui);

body, h1, h2, h3, h4, h5, h6, p, span, a, li, ul, ol, div {
  color: white !important;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: this rule is imported from whop */
@config '../tailwind.config.ts';
